:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: #3829e0;
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: #1f2f56;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: url("./images/pattern-background-mobile.svg") no-repeat
    var(--paleBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: var(--darkBlue);
}

a {
  text-decoration: none;
  color: var(--darkBlue);
}

.container {
  background: white;
  width: 90%;
  /* height: 660px; */
  margin: auto;
  border-radius: 1.5rem;
  overflow: hidden;
}

.illustration {
  width: 100%;
}

.sub-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-summary h2 {
  /* padding: 1rem; */
  font-size: 1.5rem;
}

.order-summary p {
  padding: 1rem 0;
  font-size: 1.1rem;
  color: var(--desaturatedBlue);
  line-height: 1.6;
}

.order-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: var(--veryPaleBlue);
  border-radius: 1rem;
  margin: 1rem 0;
}

.pricing-text .pricing-head {
  font-weight: 900;
  color: var(--darkBlue);
}

.order-price .text-btn {
  color: var(--brightBlue);
  text-decoration: underline;
}

.pricing-text .subscription-rate {
  color: var(--desaturatedBlue);
}

.submit-btn,
.cancel-btn {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  color: white;
  background: var(--brightBlue);
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 8px 24px -2px #3829e057;
  font-size: 1rem;
}

.cancel-btn {
  background: transparent;
  box-shadow: none;
  color: var(--darkBlue);
  margin: 0;
  opacity: 0.8;
  padding: 0.5rem;
}

.order-price .text-btn:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s ease linear;
}

.submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cancel-btn:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  body {
    background: url("./images/pattern-background-desktop.svg") no-repeat
      var(--veryPaleBlue);
  }

  .container {
    width: 20rem;
    height: auto;
  }
}

.attribution {
  width: 100%;
  background: var(--desaturatedBlue);
  color: var(--darkBlue);
  text-align: center;
  padding: 1rem;
}

.attribution a {
  color: var(--veryPaleBlue);
}

.attribution a:hover {
  color: var(--paleBlue);
}
